/.vim/.netrwhist
/.vim/swap
/.vim/bundle
/.config/hub
/.config/gcloud/
/.config/.mono/
/.config/configstore/
/.config/NuGet/
/.config/stetic/
/.config/xbuild/
/.config/karabiner/automatic_backups
/.config/iterm2/
/.config/op/
/Brewfile.lock.json
/Brewfile.local
/Brewfile.local.lock.json