[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-ref"]
	path = vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "vim/bundle/perlomni.vim"]
	path = vim/bundle/perlomni.vim
	url = git://github.com/c9s/perlomni.vim.git
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/git-vim"]
	path = vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "vim/bundle/unite-outline"]
	path = vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "vim/bundle/wombat256.vim"]
	path = vim/bundle/wombat256.vim
	url = git://github.com/vim-scripts/wombat256.vim.git
[submodule "vim/bundle/xslate-vim"]
	path = vim/bundle/xslate-vim
	url = git://github.com/motemen/xslate-vim.git
[submodule "vim/bundle/vim-wombat"]
	path = vim/bundle/vim-wombat
	url = git://github.com/cschlueter/vim-wombat.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/vim-fakeclip"]
	path = vim/bundle/vim-fakeclip
	url = git://github.com/kana/vim-fakeclip.git
